.popular-card a:hover{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#loader {
    position:absolute;
    width: 120px;
    height: 75px;
    top: 45%;
    left: 46%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
#loader span{
    font-size: 22px;
    margin: auto;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00A9A5;
    animation: bounce .5s alternate
    infinite;
}
.ball:nth-child(2) {
    animation-delay: .16s;
}
.ball:nth-child(3) {
    animation-delay: .32s;
}
@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }
    to{
        transform: 
        translateY(-50px) scaleX(1);
    }
}

.comebot {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }